<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>

<body class="p-6">

  <h2 class="capitalize w-full text-center text-2xl mb-3 font-bold"><%= user.username %>'s Bookings</h2>
<% if (bookings.length > 0) { %>

  <div class="flex flex-wrap gap-3 w-full">
    <% bookings.forEach(e => { %>
      <div class="bg-zinc-100 p-6 rounded shadow-md w-[30%] max-[654px]:w-full text-center">
        <h1 class="text-2xl font-bold text-green-600 mb-4">Booking Confirmed!</h1>
        <p class="text-gray-700"><strong>Name:</strong>
          <%= e.name %>
        </p>
        <p class="text-gray-700"><strong>Date:</strong>
          <%= e.date %>
        </p>
        <p class="text-gray-700"><strong>From:</strong>
          <%= e.timeFrom %>
        </p>
        <p class="text-gray-700"><strong>To:</strong>
          <%= e.timeTo %>
        </p>
        <p class="text-gray-700"><strong>Guests:</strong>
          <%= e.guests %>
        </p>
        <a href="/booking" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
          Make Another Booking
        </a>

        <a href="/delete-booking/<%= e._id %>" class="mt-4 inline-block bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600">
          Delete
        </a>
      </div>
    <% }) %>
  </div>
 
<%   } else { %>

  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ">
    <h2 class="font-semibold text-red-700 text-lg">You have no bookings till now..</h2>
    <a href="/booking" class="text-blue-500 underline w-full inline-block text-center">book a table</a>
  </div>

  <%} %>

  
</body>

</html>